@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, STHeiTi, sans-serif;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font-style: normal;
  color: #323232;
}

html,
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  background-color: #fff;
}

nav,
article,
aside,
details,
main,
header,
footer,
section,
fieldset,
figcaption,
figure {
  display: block;
}

img,
a,
button,
em,
del,
strong,
var,
label,
cite,
small,
time,
mark,
code,
textarea {
  display: inline-block;
}

header,
section,
footer {
  position: relative;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
  -webkit-appearance: none;
  outline: 0;
  background-color: transparent;
}

span {
  display: inline-block;
}

a:active,
a:hover {
  outline: 0;
}

a,
a:visited {
  text-decoration: none;
}

label,
.wordWrap {
  word-wrap: break-word;
  word-break: break-all;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.clearfix:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.display-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.box-orient-v {
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}

.box-orient-h {
  -webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
}

.box-flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.box-flex-2 {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.overtouch {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1px solid #DCDCDC;
  -webkit-box-sizing: border-box;
  width: 200%;
  height: 200%;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: left top;
}

@media screen and (min-width: 320px) {
  /*html {
		font-size: 21.33px
	}*/
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 360px) {
  /*html {
		font-size: 24px
	}*/
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 375px) {
  /*html {
		font-size: 25px
	}*/
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 384px) {
  /*html {
		font-size: 25.6px
	}*/
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 400px) {
  /*html {
		font-size: 26.67px
	}*/
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 414px) {
  /*html {
		font-size: 27.6px
	}*/
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 424px) {
  /*html {
		font-size: 28.27px
	}*/
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 480px) {
  /*html {
		font-size: 32px
	}*/
  body {
    font-size: 15.36px;
  }
}

@media screen and (min-width: 540px) {
  /*html {
		font-size: 36px
	}*/
  body {
    font-size: 17.28px;
  }
}

@media screen and (min-width: 720px) {
  /*html {
		font-size: 48px
	}*/
  body {
    font-size: 23.04px;
  }
}

@media screen and (min-width: 750px) {
  /*html {
		font-size: 50px
	}*/
  body {
    font-size: 24px;
  }
}

.loading_more {
  display: block;
  height: 1.5em;
  width: 100%;
}

.loading_more:before {
  background-image: url(../image/loading_more.gif) 30% center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.loading_more:after {
  content: '加载更多';
}

.foot {
  width: 100%;
  height: 6em;
  line-height: 6em;
  padding: 0 1em;
  background: #ce3d3a;
}

.foot .logo {
  height: 100%;
}

.foot .logo p {
  float: left;
  color: #fff;
  font-size: 2.5em;
}

.foot .logo .icon-xinxinicon {
  color: #fff;
  float: left;
  font-size: 4em;
  margin: 0 -0.3em;
}

.foot .logo .icon-category {
  color: #fff;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.bar {
  display: flex;
}

.bar li {
  text-align: center;
  width: 100%;
  flex: 1;
  border-bottom: 1px solid #adaeb3;
}

.bar li a {
  padding: 0.6em 0;
  color: #000;
  text-decoration: none;
  font-size: 1.6em;
}

.swiper-wrapper {
  position: relative;
  z-index: 99;
}

.swiper-wrapper img {
  width: 100%;
}

.box {
  width: 100%;
}

.box .tj {
  padding: 0.4em 0.2em;
  font-size: 1.5em;
  color: #666;
}

.box .box-full {
  display: flex;
  flex-direction: column;
  ustify-content: space-around;
}

.box .box-full div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.box .box-full div li {
  flex: 1;
  margin-left: 0.5em;
}

.box .box-full div li img {
  width: 100%;
}

.box .box-full div li p {
  color: #666;
}

.newm {
  width: 100%;
}

.newm .zx {
  padding: 0.4em 0.2em;
  font-size: 1.5em;
  color: #666;
}

.newm-box {
  width: 100%;
}

.newm-box li {
  display: block;
  padding: 0.4em 1em;
}

.newm-box li h2 {
  font-weight: 400;
}

.newm-box li p {
  margin-top: 0.3em;
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right i {
  display: block;
  width: 4em;
  height: 3.5em;
  overflow: hidden;
}

.right i img {
  margin-left: -3.3em;
}

.yybd {
  padding: 0 0.6em;
}

.yybd .bd {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.yybd .bd li {
  flex: 1;
  display: flex;
}

.yybd .bd li a {
  flex: 1;
  border: 0.1em solid #fff;
}

.yybd .bd li a img {
  width: 100%;
  height: auto;
}

.bg-s {
  width: 100%;
  height: 45.5em;
  background: rgba(220, 220, 220, 0.3);
}

.bg-s .ipt-s {
  text-align: center;
  border-bottom: 1px solid #adaeb3;
  position: relative;
}

.bg-s .ipt-s input {
  margin: 0 auto;
  width: 88%;
  height: 3em;
  padding-left: 2.6em;
  margin: 2em auto;
  border: 0.1em solid #ccc;
  border-radius: 2em;
}

.bg-s .ipt-s i {
  position: absolute;
  left: 9%;
  top: 37%;
  font-size: 1.6em;
}

.bg-s .push {
  width: 100%;
  height: 20em;
  text-align: center;
}

.bg-s .push .sec {
  margin: 0 auto;
  width: 95%;
  height: 95%;
  margin-top: 3.5%;
}

.bg-s .push .sec li {
  float: left;
  padding: 0 0.6em;
  height: 3em;
  border: 0.1em solid #ccc;
  border-radius: 2em;
  text-align: center;
  line-height: 3em;
  margin: 1em 0.3em;
}

.bg-s .push .sec a {
  font-size: 1.4em;
}

.bg-s .record {
  position: absolute;
  left: 5%;
  top: 31%;
  width: 90%;
  height: 68%;
  background: #fff;
  box-shadow: 0.3em 0.3em 0.2em #adaeb3;
  transform: translate3d(0, 0, 0);
  transition: all 500ms ease-in;
  opacity: 0;
}

.bg-s .record ul {
  margin: 1em 1em;
}

.bg-s .record li {
  margin: 0.5em auto;
}

.bg-s .record.active-s {
  opacity: 1;
}

.container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.slide {
  transform: translate3d(100%, 0, 0);
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background: #ce3d3a;
  transition: transform 500ms ease-in;
  z-index: 999;
}

.slide .slide-h {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  margin-left: -2.5em;
  box-shadow: 0 0 0.5em #fff;
}

.slide .slide-h img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.slide .slide-h p {
  text-align: center;
  color: #fff;
  margin-top: 0.3em;
}

.slide .slide-s ul li {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

.slide .slide-s ul li a {
  color: #fff;
  text-align: center;
  padding-top: 1em;
}

.slide .slide-s ul:nth-of-type(1) {
  display: inline-block;
  position: absolute;
  left: 30%;
  top: 45%;
}

.slide .slide-s ul:nth-of-type(2) {
  display: inline-block;
  position: absolute;
  right: 30%;
  top: 45%;
}

.slide .slide-f {
  position: absolute;
  left: 20%;
  bottom: 20%;
}

.slide .slide-f li {
  margin-top: 1em;
}

.slide .slide-f li a {
  font-size: 1.5em;
  color: #fff;
  padding: 0 0.5em;
}

.slide .slide-f li a i {
  font-size: 1.5em;
  color: #fff;
  padding: 0 0.5em;
}

.slide.active {
  transform: translate3d(0, 0, 0);
}
