.di{
  z-index: 999;
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  height: 4em;
  padding: 0.5em 1em;
  background: rgba(255, 255, 255, 0.8);
  ul{
    display: flex;
    flex-flow:row wrap;
    li:nth-of-type(1){
      flex:1;
      img{
        width: 3em;
        height: auto;
      }
    }
    li:nth-of-type(2){
      flex:6;
      padding: 0 1em;
      p{
        font-size: 0.8em;
        color: #747474;
        margin-top: 0.2em;
      }
    }
    li:nth-of-type(3){
      flex:1;
      i{
        font-size: 2em;
        line-height:1.5em;
        float: right;

      }
    }
    li:nth-of-type(4){
      @extend li:nth-of-type(3);
    }
  }
}